<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Refugee Registration</title>
 <style>
   body {
        font-family: 'Times New Roman';
        font-size: 22px;
        text-align: center;
        color: black;
        line-height: 1.8;
    }
   nav a { margin-right: 15px; text-decoration: none; color: #0066cc; }
   table { border-collapse: collapse; width: 60%; }
   th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
   th { background-color: #f0f0f0; }
   #test {
  display: flex;
  justify-content: center;
}
 </style>

</head>
<body>
 <nav>
   <a href="/">Home</a>
   <a href="/register">Register</a>
     <a href="/view">View data</a>
 </nav>
 <hr>
 {% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul>
       {% for message in messages %}
         <li style="color: green;">{{ message }}</li>
       {% endfor %}
     </ul>
   {% endif %}
 {% endwith %}
 {% block content %}{% endblock %}
</body>
</html>
